.slick-dots{
    bottom: -10px;
    .slick-active{
        background: rgb(3, 174, 253);
        transition: .5s ease-in-out;
    }
    li{
        height: 12px;
        width: 40px;
        background: rgba(12, 183, 250,.5);
        border: .5px solid rgb(177, 179, 180);
        border-radius: 50px;
        button{
            display: none;
    }
}
}
#teachers__section{
    .teacher__slider .slick-dots{
        display: none;
    }
}
